src/main/mule/ass-w3d1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2cfa4ea-9fe8-454a-ad79-eefb92516df7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ass-w3d1Flow" doc:id="44af8723-9fd8-46f7-bbb7-56050d7460a3" >
		<http:listener doc:name="Listener" doc:id="e0df71f1-531e-48c3-8c3b-5c36e6dea6ec" config-ref="HTTP_Listener_config" path="/ass-w3d1" allowedMethods="POST">
		</http:listener>
		<set-payload value='#[correlationId]' doc:name="Set Payload" doc:id="fe45fcf2-ad4e-4041-8feb-bb80d0320251" mimeType="application/json" encoding="UTF-16"/>
		<logger level="INFO" doc:name="Logger" doc:id="418a7da7-8242-4198-8926-3311c51828c3" message='"Hello World"'/>
	</flow>
</mule>
